# Ignore all images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tif
*.tiff

# Ignore Python bytecode
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dataset folders


# IDE/editor files
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db